@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'gg sans', sans-serif; */
   /* font-family: 'gg sans Normal', sans-serif; */
   font-family: 'gg sans Medium', sans-serif;
   /* font-family: 'gg sans SemiBold', sans-serif; */
}

:root {
   --darker: #0f172a;
   --dark: #1e293b;
   --medium: #334155;
   --light: #475569;
   --lighter: #f1f5f9;
   --red: #f87171;
   --green: #0d9488;
   --blurple: #4f46e5;
}

app-page {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 7fr auto;
   justify-items: stretch;
   justify-content: space-between;
   color: var(--lighter);
}

task-list {
   background-color: var(--darker);
   display: grid;
   gap: 1rem;
   align-content: start;
   padding: 1rem;
}

task-card {
   display: flex;
   height: 10rem;
   padding: 1rem;
   border-radius: 1rem;
   background-color: var(--dark);
}

task-card:hover {
   background-color: var(--medium);
   cursor: pointer;
}

task-card[edit='true'] {
   background-color: var(--medium);
}

task-card .edit-btn,
task-card .delete,
task-card .checkbox-label {
   cursor: pointer;
   height: 2.1rem;
   width: 3.4rem;

   background-color: var(--darker);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.7rem;
}

task-card .edit-btn {
   font-size: 20px;
   color: gray;
   background-color: var(--darker);
}

task-card .edit-btn:hover {
   color: var(--green);
   border: var(--green) solid 1px;
   filter: brightness(1.5);
}

task-card .delete {
   color: #0d9488;
   font-size: 20px;
}

task-card .delete:hover {
   color: var(--red);
   border: var(--red) solid 1px;
   filter: brightness(1.5);
}

task-card .checkbox-label {
   background-color: var(--darker);
}

task-card .checkbox-label[completed='true'],
task-card .checkbox-label:hover {
   border: var(--blurple) solid 1px;
   filter: brightness(2);
}

/* Hide the default checkbox */
task-card .checkbox-label input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: relative;
   box-shadow: rgba(255, 85, 0, 0.478) 0px 0px 0px 2px;
   background-color: rgba(16, 16, 16, 0.5);
   height: 20px;
   width: 20px;
   flex-shrink: 0;
   transition: all 0.2s ease 0s;
   cursor: pointer;
   transform-origin: 0px 10px;
   border-radius: 4px;
   padding: 0px;
   box-sizing: border-box;
}

task-card .checkbox-label input:checked ~ .checkmark {
   box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
   background-color: rgba(245, 24, 24, 0.5);
}

.checkmark:after {
   content: '';
   position: absolute;
   opacity: 30%;
}

task-card .checkbox-label input:checked ~ .checkmark:after {
   opacity: 100%;
}

task-card .checkbox-label .checkmark:after {
   left: 0.45em;
   top: 0.25em;
   width: 0.25em;
   height: 0.5em;
   border: solid white;
   border-width: 0 0.15em 0.15em 0;
   transform: rotate(45deg);
   transition: all 500ms ease-in-out;
}

task-card .status {
   background-color: var(--red);
   color: var(--lighter);
   width: max-content;
   padding: 0 2rem;
   height: 2rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1.1rem;
   border-radius: 1.5rem;
}

#new-task-form {
   display: grid;
   grid-template-columns: max-content auto max-content;
   align-items: center;
   padding: 1rem;
   border-radius: 1rem;
   background-color: var(--dark);
   column-gap: 1rem;
}

input,
textarea,
button {
   outline: none;
   border: none;
}

button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;
}

i {
   pointer-events: none;
}

#new-task-form input,
#new-task-form textarea {
   padding: 0;
   outline: none;
   color: var(--lighter);
   border: none;
   background-color: var(--dark);
}

#new-task-form [name='title-input'] {
   height: max-content;
   font-size: 1.4rem;
   font-family: 'gg sans medium', sans-serif;
   grid-column: 2/3;
}

#new-task-form [name='description-input'] {
   resize: none;
   grid-column: 1/-1;
   font-family: 'gg sans normal', sans-serif;
}

#new-task-form [name='save-task'] {
   grid-column: 2/-1;
   grid-row: 3/-1;
}

#new-task-form [name='save-task'],
#new-task-form [name='open-form'] {
   color: var(--lighter);
   border: none;
   background-color: var(--blurple);
   padding: 0 2rem;
   height: 3rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1.1rem;
   border-radius: 1.5rem;
}

#new-task-form select,
#new-task-form [name='date-input'] {
   outline: none;
   color: var(--lighter);
   border: none;
   background-color: var(--darker);
   width: max-content;
   padding: 0 2rem;
   height: 2rem;
   border-radius: 1rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
}

#new-task-form .selection-inputs {
   display: flex;
   gap: 1rem;
}

#new-task-form[expanded='false'] .hidden-inputs {
   display: none;
}

#new-task-form[expanded='true'] .hidden-inputs {
   grid-column: 2/-1;
   display: grid;
   grid-template-columns: auto max-content;
   grid-template-rows: auto auto auto;
   gap: 1rem;
}

#new-task-form[expanded='true'] .open-form {
   display: none;
}

#new-task-form[expanded='false'] .close-form {
   display: none;
}

#new-task-form .close-form {
   cursor: pointer;
   color: var(--darker);
   background-color: var(--light);
   border-radius: 1.5rem;
   width: 1.5rem;
   height: 1.5rem;
   font-size: 1.1rem;
}

side-bar {
   padding: 1rem;
   display: grid;
   grid-template-rows: 1fr 7fr;
   gap: 3rem;
   background-color: var(--dark);
}

project-list {
   display: grid;
   grid-template-rows: repeat(auto-fill, auto);
   align-content: start;
}

project-list editable-li {
   display: flex;
   position: relative;
   cursor: pointer;
   height: 1.5rem;
}

side-bar editable-li:hover,
.default-filter:hover {
   background-color: var(--medium);
}

project-list editable-li .item-buttons {
   display: flex;
   gap: 3px;
   opacity: 0;
   position: absolute;
   right: 0%;
}

project-list editable-li[edit='true'] .item-buttons {
   opacity: 1;
}

project-list editable-li:hover .item-buttons {
   opacity: 1;
   position: absolute;
   right: 0%;
}

project-list [data-type='category'] {
}

project-list [data-type='project'] {
}

project-list exp-list {
   display: flex;
   flex-direction: column;
   /* gap: 1rem; */
}

.add-category-btn {
   order: 1;
}

.item-title-input {
   outline: none;
}

editable-li .save-item,
editable-li .cancel-editing {
   display: none;
}

editable-li[edit='true'] .save-item,
editable-li[edit='true'] .cancel-editing {
   display: block;
}

editable-li[edit='true'] .edit-item,
editable-li[edit='true'] .delete-item,
editable-li[edit='true'] .item-title {
   display: none;
}

editable-li .edit-item,
editable-li .delete-item,
editable-li .item-title {
   display: block;
}

editable-li input.error {
   -webkit-animation: shake 0.2s ease-in-out 0s 2;
   animation: shake 0.2s ease-in-out 0s 2;
   background-color: red;
}

.checklist {
   display: grid;
   grid-template-rows: repeat(auto-fill, auto);
   align-content: start;
}

.checklist editable-li {
   display: flex;
   position: relative;
   cursor: pointer;
   height: 1.5rem;
}

.checklist editable-li .item-buttons {
   display: flex;
   gap: 3px;
   opacity: 0;
   position: absolute;
   right: 20%;
}

.checklist editable-li:hover .item-buttons {
   opacity: 1;
   position: absolute;
   right: 0%;
}

.checklist editable-li[data-type='checklist'] .edit-item,
.checklist editable-li[data-type='checklist'] .delete-item {
   display: none;
}

.checklist [data-type='checklist-item'] {
   color: red;
}

.checklist [data-type='checklist-item'][checked] {
   text-decoration: line-through;
}

.checklist {
   display: flex;
   flex-direction: column;
   /* gap: 1rem; */
}

@-webkit-keyframes shake {
   0% {
      margin-left: 0rem;
   }
   25% {
      margin-left: 0.5rem;
   }
   75% {
      margin-left: -0.5rem;
   }
   100% {
      margin-left: 0rem;
   }
}

@keyframes shake {
   0% {
      margin-left: 0rem;
   }
   25% {
      margin-left: 0.5rem;
   }
   75% {
      margin-left: -0.5rem;
   }
   100% {
      margin-left: 0rem;
   }
}
