* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --darker: #0f172a;
   --dark: #334155;
   --medium: #64748b;
   --light: #cbd5e1;
   --lighter: #f1f5f9;
   --red: #f87171;
   --green: #0d9488;
}

app-page {
   height: 90vh;
   display: grid;
   grid-template-columns: 2fr 7fr 2fr;
   justify-items: stretch;
   justify-content: space-between;
}

task-list {
   display: grid;
}

task-card {
   display: grid;
   height: 10rem;
   padding: 1rem;
   border: #0f172a 1px solid;
   border-radius: 1rem;
}

add-task-form {
   display: grid;
}

side-bar {
   padding: 1.5rem;
   display: grid;
   grid-template-rows: 1fr 7fr;
   gap: 3rem;
}

project-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, auto);
   grid-auto-rows: auto;
   gap: 0.2rem;
   padding-left: 1rem;
}

.add-category-btn {
   order: 1;
}

category-list {
   display: grid;

   gap: 0.3rem;
}

.category {
   position: relative;
   cursor: pointer;
   border: #0f172a solid 1px;
}

.addProjectBtn {
   display: none;
   position: absolute;
   left: 100%;
}

category-list:hover .addProjectBtn {
   display: block;
}
