@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'gg sans', sans-serif; */
   /* font-family: 'gg sans Normal', sans-serif; */
   font-family: 'gg sans Medium', sans-serif;
   /* font-family: 'gg sans SemiBold', sans-serif; */
}

:root {
   --darkest: #192332;
   --darker: #1e293b;
   --dark: #334155;
   --medium: #475569;
   --light: #64748b;
   --lighter: #94a3b8;
   --lightest: #cbd5e1;
   --white: #f1f5f9;
   --gray: #d1d5db;
   --red: #f87171;
   --green: #22c55e;
   --blue: #3b82f6;
   --blurple: #4f46e5;
}

body {
   height: 100vh;
   overflow: hidden;
}

app-page {
   display: grid;
   grid-template-columns: minmax(250px, 1fr) 7fr;
   grid-auto-flow: column;
   grid-auto-columns: 3fr;
   justify-items: stretch;
   justify-content: stretch;
   color: var(--white);
   background-color: var(--darkest);
}

task-list {
   height: 100vh;
   background-color: var(--darker);
   display: grid;
   grid-template-rows: 3rem;
   grid-auto-rows: auto;
   gap: 0.7rem;
   justify-content: stretch;
   justify-items: center;
   align-content: start;
   overflow: auto;
   border-radius: 0 0.6rem 0.6rem 0;
   padding: 0 0.5rem;
   margin-right: 0.5rem;
}

task-card {
   width: min(100%, 900px);
   display: grid;
   grid-auto-flow: row;
   grid-template-rows: max-content auto auto max-content;
   height: 8rem;
   padding: 0.5rem 1rem;
   border-radius: 0.7rem;
   background-color: var(--dark);
   transition: 300ms;
}

task-card:hover {
   background-color: var(--medium);
   cursor: pointer;
   transform: translate(0, -2px);
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

task-card[editing] {
   background-color: var(--medium);
}

task-card .tags,
task-card .title-line,
task-card .buttons {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 0.5rem;
}

task-card .tag {
   font-size: 0.8rem;
   border-radius: 1rem;
   padding: 0.3rem 0.5rem;
   width: max-content;
   max-width: 8rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   background-color: var(--darker);
}

task-card .tag i {
   margin-right: 4px;
}

task-card .tag[priority='1'] i {
   color: red;
}

task-card .tag[priority='2'] i {
   color: yellow;
}

task-card .tag[priority='3'] i {
   color: green;
}

task-card .tag[priority='4'] i {
   color: blue;
}

task-card .title {
   font-size: 1.4rem;
}

task-card .description {
   color: var(--lightest);
   font-family: 'gg sans Normal', sans-serif;
   font-size: 1rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   align-self: flex-start;
}

task-card .edit-btn,
task-card .delete,
task-card .checkbox-label {
   cursor: pointer;
   height: 1.6rem;
   width: 2.6rem;
   font-size: 1rem;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.7rem;
}

task-card .edit-btn {
   color: var(--light);
}

/* task-card .edit-btn:hover,
task-card[editing] .edit-btn {
   color: var(--blurple);
} */

task-card .delete {
   color: var(--light);
}

task-card .delete:hover,
task-card .checkbox-label[completed='true'],
task-card .checkbox-label:hover,
task-card .edit-btn:hover,
task-card[editing] .edit-btn {
   /* color: var(--lighter); */
   background-color: var(--dark);
   border: var(--blurple) solid 1px;
   filter: brightness(2);
}

task-card .checkbox-label input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   color: var(--light);
   /* position: relative;
   box-shadow: rgba(255, 85, 0, 0.478) 0px 0px 0px 2px;
   background-color: rgba(16, 16, 16, 0.5);
   height: 1rem;
   width: 1rem;
   flex-shrink: 0;
   transition: all 0.2s ease 0s;
   cursor: pointer;
   transform-origin: 0px 10px;
   border-radius: 4px;
   padding: 0px;
   box-sizing: content-box; */
}

task-card .checkbox-label input:checked ~ .checkmark {
   /* color: var(--green); */
   /* box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
   background-color: rgba(245, 24, 24, 0.5); */
}

/* .checkmark:after {
   content: '';
   position: absolute;
   opacity: 30%;
} */

/* task-card .checkbox-label input:checked ~ .checkmark:after {
   opacity: 100%;
} */

task-card .checkbox-label .checkmark:after {
   left: 0.3em;
   top: 0.1em;
   width: 0.25em;
   height: 0.5em;
   border: solid white;
   border-width: 0 0.15em 0.15em 0;
   transform: rotate(45deg);
   transition: all 500ms ease-in-out;
}

task-card .status {
   display: flex;
   align-items: center;
   width: max-content;
   height: 1.8rem;
   padding: 0 0.6rem;

   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
   border-radius: 1rem;
}

task-card .status[status='completed'] {
   /* background-color: var(--green); */
   background: #2cc0531b;
   border: var(--green) solid 1px;
   color: var(--green);
}

task-card .status[status='overdue'] {
   /* background-color: var(--green); */
   background: #c02c2c1b;
   border: var(--red) solid 1px;
   color: var(--red);
}

task-card .status[status='pending'] {
   /* background-color: var(--green); */
   background: #422cc01b;
   border: var(--blue) solid 1px;
   color: var(--blue);
}

#new-task-form {
   min-width: min(100%, 900px);
   display: grid;
   grid-template-columns: max-content auto;
   align-items: center;
   padding: 0.6rem;
   border-radius: 0.7rem;
   background-color: var(--dark);
   column-gap: 1rem;
}

input,
textarea,
button {
   outline: none;
   border: none;
}

button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;
   cursor: pointer;
}

button:hover {
   filter: brightness(1.2);
}

i {
   pointer-events: none;
}

#new-task-form input,
#new-task-form textarea {
   padding: 0;
   outline: none;
   color: var(--white);
   border: none;
   background-color: var(--dark);
}

#new-task-form [name='title-input'] {
   height: max-content;
   font-size: 1.4rem;
   font-family: 'gg sans medium', sans-serif;
   justify-self: stretch;
   grid-column: 2/3;
}

#new-task-form [name='description-input'] {
   resize: none;
   grid-column: 1/-1;
   font-family: 'gg sans normal', sans-serif;
}

#new-task-form [name='save-task'] {
   grid-row: 3/-1;
}

#new-task-form [name='save-task'],
#new-task-form [name='open-form'],
task-details [name='save-task'] {
   justify-self: flex-end;
   color: var(--white);
   border: none;
   background-color: var(--blurple);
   padding: 0 1rem;
   height: 2.5rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
   border-radius: 1.2rem;
   white-space: nowrap;
}

#new-task-form select,
#new-task-form [name='date-input'] {
   outline: none;
   color: var(--white);
   border: none;
   background-color: var(--darker);
   max-width: 10rem;
   padding: 0 1rem;
   height: 2rem;
   border-radius: 0.5rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

#new-task-form .selection-inputs {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

#new-task-form[expanded='false'] .hidden-inputs {
   display: none;
}

#new-task-form[expanded='true'] .hidden-inputs {
   grid-column: 2/-1;
   display: grid;

   grid-template-rows: auto auto auto;
   gap: 1rem;
}

#new-task-form .open-form {
   grid-column: 3/4;
}

#new-task-form[expanded='true'] .open-form {
   display: none;
}

#new-task-form[expanded='false'] .close-form {
   display: none;
}

#new-task-form .close-form {
   cursor: pointer;
   color: var(--light);
   background-color: rgba(255, 255, 255, 0);

   font-size: 1.4rem;
}

side-bar {
   height: 100vh;
   display: grid;
   grid-template-rows: 3rem 1fr 7fr;
   gap: 3rem;
   background-color: var(--dark);
   overflow: auto;
}

.header {
   z-index: 1;
   position: sticky;
   font-size: 1.1rem;
   top: 0;
   width: 100%;
   display: flex;
   align-items: center;
   padding-left: 1rem;
   justify-self: stretch;
   border-bottom: var(--darkest) 1.5px solid;
   background-color: inherit;
}

side-bar .header {
   justify-content: start;
   font-family: 'Lilita One', cursive;
   gap: 0.6rem;
   font-size: 1.7rem;
   background-size: 70%;
   /* background-repeat: repeat; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;

   background-image: linear-gradient(45deg, #f8f161, #af4242);
}

side-bar .header i {
   color: var(--red);
   font-size: 1.5rem;
}

side-bar .default-filters-ul {
   padding: 0 0.4rem;
}

side-bar .default-filter,
side-bar .projects-list-header {
   gap: 0.8rem;
}

side-bar .default-filter i,
side-bar .projects-list-header i {
   color: var(--lighter);
   padding-bottom: 3px;
}

side-bar .default-filter:hover i,
side-bar .default-filter[current-filter] i {
   color: var(--lightest);
}

project-list {
   width: 100%;
   display: grid;
   grid-template-rows: repeat(auto-fill, auto);
   justify-content: stretch;
   align-content: start;
   padding: 0 0.5rem;
   gap: 0.6rem;
   overflow: hidden;
}

project-list exp-list {
   display: grid;

   align-items: stretch;
   overflow: hidden;
   padding-bottom: 0.4rem;
}

project-list exp-list ul {
   border-top: var(--light) solid 1px;
   display: grid;
   gap: 0.4rem;
   overflow: hidden;
   padding-left: 1rem;
}

project-list editable-li,
.default-filter,
.projects-list-header {
   font-size: 1rem;
   display: flex;
   align-items: center;
   align-content: center;
   position: relative;
   cursor: pointer;
   height: 2.4rem;
   padding: 0 0.4rem;
   border-radius: 0.4rem;
   gap: 0.3rem;
}

editable-li .item-title {
   text-align: center;
   line-height: normal;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

editable-li[active] {
   background-color: var(--medium);
   border: var(--gray) solid 1px;
   animation: append-animate 0.2s linear;
}

side-bar [current-filter] {
   background-color: var(--medium);
}

side-bar .default-filters-ul {
   display: grid;
   /* grid-auto-flow: row; */
   gap: 0.3rem;
}

side-bar editable-li:hover,
.default-filter:hover {
   background-color: var(--medium);
}

editable-li .item-buttons {
   display: flex;
   gap: 0.2rem;
   opacity: 0;
   position: absolute;
   right: 4%;
}

editable-li[active] .item-buttons {
   opacity: 1;
}

editable-li:hover .item-buttons {
   opacity: 1;
}

project-list exp-list [data-type='project']::before {
   display: inline-block;
   content: '';
   -webkit-border-radius: 0.2rem;
   border-radius: 0.2rem;
   height: 0.5rem;
   width: 0.4rem;
   background-color: var(--light);
}

project-list exp-list [data-type='category']::before {
   border-color: var(--lighter);
   border-style: solid;
   border-width: 0.15em 0.15em 0 0;
   content: '';
   display: inline-block;
   height: 0.4em;
   transform: rotate(45deg);
   width: 0.4em;
   margin-right: 0.2rem;
}

project-list exp-list[expanded] [data-type='category']::before {
   transform: rotate(135deg);
}

project-list exp-list {
   display: flex;
   flex-direction: column;
}

project-list .add-category-btn {
   display: flex;
   justify-content: start;
   order: 1;
   color: var(--lighter);
   background-color: rgba(255, 255, 255, 0);
   padding: 0 1rem;
   height: 2rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
   border-radius: 0.4rem;
   gap: 1rem;
}

project-list .add-category-btn:hover {
   background-color: var(--medium);
   color: var(--lightest);
}

project-list exp-list[expanded] .items-list {
   display: block;
}

project-list exp-list .items-list {
   display: none;
}

editable-li .editing-input {
   outline: none;
   font-size: 1.1rem;
   color: var(--lightest);
   background-color: rgba(255, 255, 255, 0);
   border-radius: 0.4rem;
   width: 100%;
   align-self: stretch;
}

editable-li[active].error {
   background-color: var(--red);
}

[active].error {
   -webkit-animation: shake 0.2s ease-in-out 0s 2;
   animation: shake 0.2s ease-in-out 0s 2;
}

editable-li button {
   font-size: 0.8rem;
   height: 1.4rem;
   width: 1.4rem;
   border-radius: 0.2rem;
   background-color: rgba(255, 255, 255, 0);
   color: var(--gray);
}

editable-li button:hover {
   background-color: var(--light);
   filter: brightness(1.3);
}

editable-li .save-item,
editable-li .cancel-editing {
   display: none;
}

editable-li[active] .save-item,
editable-li[active] .cancel-editing {
   display: block;
}

editable-li[active] .edit-item,
editable-li[active] .delete-item,
editable-li[active] .item-title {
   display: none;
}

.checklist {
   background-color: var(--darker);
   display: grid;
   grid-template-rows: repeat(auto-fill, auto);
   gap: 0.2rem;
   align-content: start;
   border-radius: 0.4rem;
   padding: 1rem;
}

.checklist editable-li {
   font-size: 1rem;
   display: flex;
   align-items: center;
   position: relative;
   cursor: pointer;
   height: 2.4rem;
   padding: 0 0.4rem;
   border-radius: 0.4rem;
}

.checklist [data-type='checklist-item'][checked]::before {
   border-color: var(--white);
}

.checklist [data-type='checklist-item']::before {
   border-color: var(--dark);
   border-style: solid;
   border-width: 0.18em 0.18em 0 0;
   content: '';
   display: inline-block;
   height: 0.4em;
   transform: rotate(135deg);
   width: 0.6em;
   margin-right: 0.6rem;
}

.checklist editable-li[data-type='checklist'] .edit-item,
.checklist editable-li[data-type='checklist'] .delete-item {
   display: none;
}

.checklist editable-li[data-type='checklist'] .item-buttons {
   opacity: 1;
}

.checklist .list-header {
   border-radius: 0;
   border-bottom: var(--medium) solid 1px;
}
.checklist [data-type='checklist-item'][checked] {
   text-decoration: line-through;
}

.checklist {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   min-height: 6rem;
}

task-details {
   height: 100vh;
   z-index: 1;
   display: grid;
   grid-auto-flow: row dense;
   min-width: 400px;
   grid-template-rows: 3rem auto 1fr;
   align-items: stretch;
   background-color: var(--dark);
   border-radius: 0.5rem;
   align-content: start;
   justify-items: start;
   overflow: auto;
   position: relative;
}

task-details .icon {
   font-size: 3rem;
   opacity: 50%;
   padding: 2rem;
}

task-details form {
   justify-self: stretch;
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   padding: 0 2rem;
}

task-details form select,
task-details form [name='date-input'] {
   outline: none;
   color: var(--white);
   border: none;
   background-color: var(--darker);
   padding: 0 1rem;
   min-height: 2rem;
   border-radius: 0.5rem;
   font-family: 'gg sans Medium', sans-serif;
   font-size: 1rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 12rem;
}

task-details form [name='title-input'],
task-details form [name='description-input'] {
   padding: 0;
   outline: none;
   color: var(--white);
   border: none;
   background-color: var(--dark);
}

task-details form [name='title-input'] {
   font-size: 1.6rem;
   font-family: 'gg sans medium', sans-serif;
}

task-details form [name='description-input'] {
   resize: none;
   min-height: 8rem;
   font-family: 'gg sans normal', sans-serif;
}

task-details .header {
   position: relative;
}

task-details .close {
   font-size: 1.5rem;
   position: absolute;
   right: 1.5rem;
   color: var(--light);
   background-color: rgba(255, 255, 255, 0);
}

task-details form [name='save-task'] {
   align-self: start;
}

@-webkit-keyframes shake {
   0% {
   }
   25% {
      transform: translateX(1rem);
   }
   75% {
      transform: translateX(-1rem);
   }
   100% {
   }
}
